<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app" style="max-width: 400px; margin:auto;margin-top:60px">
    <el-form ref="form" :model="config_data" status-icon :rules="rules" label-width="180px">
      <el-form-item label="用户" prop="user">
        <el-input placeholder="user:password" v-model="config_data.user"></el-input>
      </el-form-item>
      <el-form-item label="影视路径" prop="root_dir">
        <el-input placeholder="/mnt/Media/" v-model="config_data.root_dir"></el-input>
      </el-form-item>
      <el-form-item label="电影目录正则" prop="movie_dir_re">
        <el-input placeholder="(.*?)（(\d{4})）" v-model="config_data.movie_dir_re"></el-input>
      </el-form-item>
      <el-form-item label="Telegram推送">
        <el-switch v-model="config_data.tg_push_on"></el-switch>
      </el-form-item>
      <el-form-item label="Telegram ChatID">
        <el-input placeholder="群组/频道/用户" v-model="config_data.tg_chatid"></el-input>
      </el-form-item>
      <el-form-item label="Telegram Bot Token">
        <el-input v-model="config_data.tg_bot_token"></el-input>
      </el-form-item>
      <el-form-item label="Bark推送">
        <el-switch v-model="config_data.bark_on"></el-switch>
      </el-form-item>
      <el-form-item label="Bark Tokens">
        <el-input placeholder="xxx,xxx,xxx"  v-model="config_data.bark_tokens"></el-input>
      </el-form-item>
      <el-form-item label="Server酱推送">
        <el-switch v-model="config_data.server_cyann_on"></el-switch>
      </el-form-item>
      <el-form-item label="Server酱 Token">
        <el-input v-model="config_data.server_cyann_token"></el-input>
      </el-form-item>
      <el-form-item label="Http代理">
        <el-switch v-model="config_data.proxy_on"></el-switch>
      </el-form-item>
      <el-form-item label="代理地址">
        <el-input placeholder="http://127.0.0.1:1080" v-model="config_data.proxy_url"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">提交</el-button>
      </el-form-item>
    </el-form>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app', 
      data: function() {
        var validateUser = (rule, value, callback) => {
          setTimeout(() => {
        if (value.split(':').length < 2 ) {
          callback(new Error('格式不正确'));
        } else {
          callback();
        }
          });
        };
        var validateRe = (rule, value, callback) => {
            console.log(value)
            let reg = /.*?\(.+\).*?\(.+\).*/
            if (!(reg.test(value))) {
              callback(new Error('格式不正确'));
            } else {
              callback();
           }
        };
        var validateDir = (rule, value, callback) => {
          setTimeout(() => {
            console.log()
            if (value.split('/').length < 2 ) {
              callback(new Error('格式不正确'));
            } else {
              callback();
              }
            });
          };
        return {
            config_data: {
                user: '',
                root_dir: '',
                movie_dir_re: '(.*?)（(\d{4})）',
                tg_push_on:false,
                tg_chatid: '',
                tg_bot_token:'',
                bark_push_on:false,
                bark_tokens:'',
                server_cyann_on: false,
                server_cyann_token: '',
                proxy_on: false,
                proxy_url: '',
            },
            rules: {
              user: [
                { validator: validateUser, trigger: 'blur' }
                ],
              root_dir: [
                { validator: validateDir, trigger: 'blur' }
                ],
              movie_dir_re: [
                { validator: validateRe, trigger: 'blur' }
              ],
            }
        }
      },
      methods: {
        onSubmit: function(){
          let that = this;
          axios.post('/api/config', this.config_data)
          .then(function (response) {
            if(response.status == 200){
              that.$message({message:'更新成功，正在跳转...',type: 'success'});
              setInterval(() => {
                window.location.href="/";    
              }, 3000);
            
          }else{
            that.$message({message:'出错,查看log',type: 'error'});
          }
          })
          .catch(function (error) {
            console.log(error);
            that.$message({message:'出错,查看log',type: 'error'});
          });
        }
      },
      mounted() {
        let that = this;
        axios.get('/api/config').then(function (response) {
            if(response.status ==200){
              that.config_data = response.data;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
        }
    })
  </script>
</html>