html, body {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    /*min-width: 1000px;*/
    background: #f0f2f5;
}

.pageContent {
    min-height: 100%;
    height: 100%;
    position: relative;
}

.sideMenu {
    position: fixed;
    height: 100%;
    width: 250px;
    min-width: 250px;
    background: #313a46;
    display: inline;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
}

.sideMenu .fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #313a46;
}

.filterContent {
    margin-top: 100px;
    padding: 0 20px;
}

.mainContent {
    margin-left: 250px;
    height: 100%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.mainContent .fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    padding-left: 10px;
}

.logoIcon {
    background: url(../img/taosky.jpg) no-repeat 0 0;
    background-size: 100%;
    margin-top: 25px;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
}

#fixedLogo.logoIcon {
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
}

.pageTitle {
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    vertical-align: top;
    font-weight: bold;
}


.roundRectSearch {
    max-width: 75%;
    width: 400px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #E3E7ED;
    border-radius: 100px;
    margin: 10px 0;
}

.roundRectSearch .searchIcon {
    font-size: 16px;
    color: #DADCE3;
    position: absolute;
    top: 10px;
    left: 10px;
}

.roundRectSearch input.searchInput {
    border: none !important;
    height: 38px;
    /*width: 265px;*/
    /*max-width: 60%;*/
    width: 100%;
    padding: 0 80px 0 30px;
    background: rgba(0, 0, 0, 0);
}

.roundRectSearch .searchBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 82px;
    min-width: 80px;
    height: 100%;
    color: #fff;
    background: #00B4FF;
    border-radius: 0 17px 17px 0;
}

:focus {
    outline: none !important;
}

.movieItem {
    color: #333;
    margin-bottom: 20px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.poster {
    width: 100px;
    height: 130px;
}

.movieInfo {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: calc(100% - 120px);
}

.movieTitle {
    font-size: 16px;

}

.movieType1 {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    color: #ffbc00;
    background-color: rgba(255, 188, 0, .18);
}

.movieType2 {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    color: #39afd1;
    background-color: rgba(57, 175, 209, .18);
}

.movieTag {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    margin-left: 5px;
    color: #409eff;
    border: 1px solid #d9ecff;
    background-color: #ecf5ff;
}

.movieTag:hover {
    background-color: #409eff;
    color: #fff;
}

.movieYear {
    font-size: 13px;
}

.movieItem .movieInfo div {
    margin: 5px 0;
}

.filterItem {
    margin-top: 5px;
    color: #adb5bd;
}

.filterLabel {
    vertical-align: top;
    font-weight: normal;
}

ul.filterOptions {
    vertical-align: top;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.filterOptions li {
    line-height: 24px;
}

ul.filterOptions li:hover, ul.filterOptions li.active {
    cursor: pointer;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(143, 153, 174, 0.4);
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
    border: 1px solid #DADCE2;
}

.common-label {
    color: rgb(79, 86, 107);
    font-weight: normal;
}

#moviesListContent {
    position: relative;
    margin-top: 60px;
    padding: 20px
}

#filterBtn {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
}

#orderBtn {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
}

#orderMenu {
    display: none;
    position: absolute;
    z-index: 9;
    top: 20px;
    left: 40px;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    width: 100px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 5px #888888;
}

#orderMenu li {
    cursor: pointer;
    line-height: 24px;
    padding-left: 10px;
}

#orderMenu li:hover, #orderMenu li.active {
    color: #07A5FD;
    background: rgba(0, 163, 253, 0.10);
}

.orderMenu li .fa {
    margin-left: 5px;
    color: #67c23a;
}

.pervPage:hover, .nextPage:hover {
    cursor: pointer;
    color: #4582ec;
}

.movieItem .common-label {
    display: inline;
    float: left;
    position: relative;
}

.movieItem .itemValue {
    position: relative;
}

#fixedFilterYears {
    display: none;
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 9;
    width: 100px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 5px #888888;
    padding: 5px 0;
}

#fixedFilterYears li {
    text-align: left;
    color: #333;
    padding-left: 10px;
}

#fixedFilterYears li:hover, #fixedFilterYears li.active {
    color: #07A5FD;
    background: rgba(0, 163, 253, 0.10);
}

@media (max-width: 1000px) {
    #fixedLogo.logoIcon {
        display: inline-block;
    }

    .sideMenu {
        left: -250px;
        z-index: 10;
    }

    .mainContent {
        margin-left: 0;
    }

    .mainContent .fixed-header {
        background: #313a46;
        position: fixed;
        z-index: 8;
    }

    .movieItem {
        width: 100%;
    }

    #orderBtn, #filterBtn {
        color: #ccc;
        display: inline-block;
    }

    .roundRectSearch {
        border-color: #515151;
    }

    .roundRectSearch input.searchInput {
        color: #fff;
    }

    .roundRectSearch .searchBtn {
        background: #54585a;
    }
}

@media (max-width: 500px) {
    #moviesListContent {
        padding-left: 10px;
        padding-right: 10px;
    }

    .movieInfo {
        width: calc(100% - 120px);
    }
}

@media (max-width: 400px) {
    #moviesListContent {
        padding-left: 10px;
        padding-right: 10px;
    }

    img.poster {
        width: 75px;
        height: 100px;
    }

    .movieInfo {
        width: calc(100% - 90px);
    }
}

.loading-flash {
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 0;
    /*width: 100px;*/
    /*height: 100px;*/
    text-align: center;
    vertical-align: middle;
}

ul#selectedTags {
    list-style: none;
    margin: 15px 10px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

ul#selectedTags li {
    display: inline-block;
    background-color: #409eff;
    color: #fff;
    height: 30px;
    padding: 0 12px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    margin-right: 10px;
}

ul#selectedTags li .fa-times {
    cursor: pointer;
}


ul#menuSelectedTags li {

}

#filterTags {
    display: none;
}


#filterTags {
    display: block;
}

#selectedTags {
    display: none !important;
}