<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <link rel="stylesheet" href="/css/element-ui/index.css">
    <link href="/css/movie.css" type="text/css" rel="stylesheet">
</head>
<body>
  {% raw %}
    <div id="app">
        <el-header>
          <div class="logoIcon"> </div>
          <div class="playOption"> 
            <el-select v-model="playType" placeholder="选择App">
              <el-option
                v-for="item in playOptions"
                :key="item.label"
                :label="item.label"
                :value="item.label">
              </el-option>
            </el-select>
          </div>
        </el-header>
        <el-main>
          <el-breadcrumb separator="/">
            <el-breadcrumb-item><a href="/">首页</a></el-breadcrumb-item>
            <el-breadcrumb-item><a href="#">{{fullTitle}}</a></el-breadcrumb-item>
          </el-breadcrumb>
          <iframe frameborder="0" class="doubanDesc" :src=`https://www.douban.com/doubanapp/h5/movie/${dbid}/desc`></iframe>
          <div class="doubanIntro"><p>
            {{ intro }}
          </p></div>
          <div class="introOverflow">......</div>
          <div class="moviePlay">
            <div class=playTitle>播放列表</div>
            <div class="playLinks">
              <span v-for="(video,index) in playList" :key="video.link">
                <el-button class="videoButton" type="info" @click="goToApp(video.link)">{{ index+1 }}</el-button>
              </span>
            </div>
          </div>
        </el-main>
        <el-footer></el-footer>
    </div>
    {% endraw %}

</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/element-ui/index.js"></script>
<script src="/js/axios.js"></script>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return {
             dbid: '',
             playOptions:[{label:'nPlayer'},{label:'MXPlayer'},{label:'MXPlayer Pro'}],
             playType: 'nPlayer',
             videoFiles: [],
             title:'',
             originalTitle: '',
             uri: '',
             intro: '',
             doubanUrl: '',
             thumbnailUrl: ''
             }
      },
      computed:{
        playList:function(){  
          let playList = [];
          if (this.playType === 'nPlayer'){
            for (video of this.videoFiles){
                playList.push({link:`nplayer-{{ play_uri }}${video}`});
            }
          }
          if (this.playType === 'MXPlayer') {
            for (video of this.videoFiles){
                playList.push({link:`intent:{{ play_uri }}${video}#Intent;package=com.mxtech.videoplayer.ad;S.title=New%20title;end`}); 
            }
          };
          if (this.playType === 'MXPlayer Pro') {
            for (video of this.videoFiles){
                playList.push({link:`intent:{{ play_uri }}${video}#Intent;package=com.mxtech.videoplayer.pro;S.title=New%20title;end`}); 
            }
          }
          return playList
        },
        fullTitle: function(){
          if(this.originalTitle !== ''){
            return `${this.title} / ${this.originalTitle}`;
          }
          return this.title;
        }
      },
      methods:{
        getData: function(){
          this.dbid = '{{ dbid }}';
          let vm = this;
            axios.get('{{ url }}/api/movie/{{ mid }}').then(function(response) {
              let data = response.data;
              vm.videoFiles = data.viedo_files.split(',');
              vm.title = data.title;
              vm.originalTitle = data.original_title;
              vm.intro = data.intro;
              vm.uri = data.uri;
              vm.doubanUrl = data.douban_url;
              vm.thumbnailUrl = data.thumbnail_url;            

            }).catch(function (error) {
                console.log(error);
            });
        },
        goToApp: function(link){
          window.open(link);
        }
      },
      created: function(){
        this.getData();
      }
    });
  </script>
</html>